.container {
  height: 120px;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.col-12 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
img {
  height: 160px;
  width: 160px;
  margin: 15px 0 0 10px;
  display: flex;
}
.nav {
  color: var(--color--text);
  width: 800px;
  text-align: end;
}

.nav-link {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 20px 0;
  margin: 0 20px;
  display: inline-block;
  position: relative;
  opacity: 0.65;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: white;
}

.nav-link-ltr::before {
  width: 0;
  bottom: 15px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.router-link-exact-active {
  opacity: 1;
}

.router-link-exact-active::before {
  width: 0;
  bottom: 15px;
}
