.container {
  width: 100%;
  height: 100px;
  position:fixed;
  bottom:0;
  z-index:100;
}

img {
  height: 50px;
  margin-top: 25px;
  margin-left: 25px;
}

.col1 {
  width: 180px;
  height: 100px;
  margin: 0;
}

p {
  font-size: 18px;
}

.socialBtn {
  margin: 30px 15px 0 15px;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  border: none;
  background: none;
}

.instagram {
  height: 55px;
  width: 55px;
  border-radius: 15px;
  background: #1b1c20;
  box-shadow:  5px 5px 10px #101113,
  -5px -5px 10px #26272d;
}

.instagram:hover {
  background: linear-gradient(
    45deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  transition: all 0.5s ease;
  box-shadow:inset 0 0 0 5px white;
}

.facebook {
  height: 55px;
  width: 55px;
  border-radius: 15px;
  background: #1b1c20;
  box-shadow:  5px 5px 10px #101113,
  -5px -5px 10px #26272d;
}

.facebook:hover {
  background: #2b73ba;
  transition: all 0.5s ease;
  box-shadow:inset 0 0 0 5px white;
}

